*{
  padding: 0px;
  margin: 0px;
  background-image:url('ebBG.jpg');
  z-index: -1;
  background: 
    linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.6)),
    url("bg.jpg");
  background-size: cover;
  background-position: center;
  color: white;
}
h1{
  color:yellow;
  margin: 10px 0px 15px 0px ;
  text-align: center;
  animation: animation 2s infinite;
 
}
#navbar{
  background-color: black;
  padding: 15px 0px 10px 0px;
  display: flex;
  text-align: center;
  justify-content:space-evenly;
  position: sticky;
  top: 0;
  z-index:10;
 
}
#navbar a{
  color: white;
  text-decoration: none;
  padding-right: 12px;
  border-right: 3px solid white;
  z-index:+2;
}
hr{
  margin: 20px 0px 20px 0px;
}
p{
  margin-bottom:15px;
}
.footer{
  padding: 70px 0px 70px 0px;
  display: flex;
  justify-content: center;
  align-items: center ;
  background-color: #7979797c;
  color:black;
}
h4{
  margin:10px 0px 15px 0px;
  background-color: black;
  color: white;
  text-align: center;
}
#abt li {
  margin-bottom: 10px ;
}
#pic1 {
  width: 200px;
}
#pic2{
  width: 100px;
}
#pic3{
  width: 100px;
}
#pic4{
  width: 140px;
  position: absolute;
  top-div: 0;
  left: 200px;
  z-index: 2;
}
#pic5{
  width: 130px;
  position: absolute;
  top-div:0;
  right:0;
  z-index: 1;
}
#pic6{
  width: 200px;
}
#pic7{
  width: 235px;
}
#pic8{
  width: 500px;
}
.n{
  color: black;
  display: flex;
  justify-content: center;
}
br{
  margin:10px 0px 10px 0px;
}
@keyframes animation{
  0%{
    opacity: 0;
  }
  25%{
    opacity: 0.5;
  }
  50%{
    opacity: 1;
  }
  75%{
    opacity: 0.5;
  }
  100%{
    opacity: 0;
  }
}